[submodule "csvdb"]
	path = csvdb
	url = https://github.com/williw8/csvdb
[submodule "actions/andmatrix"]
	path = actions/andmatrix
	url = https://github.com/williw8/andmatrix
[submodule "actions/sumelim"]
	path = actions/sumelim
	url = https://github.com/williw8/sumelim
[submodule "actions/join"]
	path = actions/join
	url = https://github.com/williw8/join
[submodule "actions/select"]
	path = actions/select
	url = git@github.com:williw8/select.git
[submodule "actions/colscript"]
	path = actions/colscript
	url = git@github.com:williw8/colscript.git
