[submodule "csvdb"]
	path = csvdb
	url = https://github.com/williw8/csvdb
[submodule "actions/andmatrix"]
	path = actions/andmatrix
	url = https://github.com/williw8/andmatrix
[submodule "actions/sumelim"]
	path = actions/sumelim
	url = https://github.com/williw8/sumelim
[submodule "actions/join"]
	path = actions/join
	url = https://github.com/williw8/join
