[submodule "csvdb"]
	path = csvdb
	url = git@github.com:williw8/csvdb.git
[submodule "actions/andmatrix"]
	path = actions/andmatrix
	url = git@github.com:williw8/andmatrix.git
[submodule "actions/sumelim"]
	path = actions/sumelim
	url = git@github.com:williw8/sumelim.git
[submodule "actions/colscript"]
	path = actions/colscript
	url = git@github.com:williw8/colscript.git
[submodule "actions/join"]
	path = actions/join
	url = git@github.com:williw8/join.git
[submodule "actions/select"]
	path = actions/select
	url = git@github.com:williw8/select.git
